.App{
  width: 450px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0 auto;
}
img{
  width: 150px;
  height: 150px;
}
h1{
  text-align: center;
  font-size: 30px;
  color: white;
}